## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb
import datetime

In [11]:
tickers = ['MSFT','AAPL']
stocks = pd.DataFrame()
start_date = datetime.datetime(2000, 1, 1)

for t in tickers:
    stocks[t] = wb.DataReader(t, data_source='yahoo', start=start_date)['Adj Close']

In [12]:
returns = np.log(stocks / stocks.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010488  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
...              ...       ...
2020-03-23 -0.010025 -0.021473
2020-03-24  0.086999  0.095606
2020-03-25 -0.009619 -0.005524
2020-03-26  0.060673  0.051285
2020-03-27 -0.041928 -0.042284

[5091 rows x 2 columns]

### MSFT

Daily risk:

In [21]:
msft_daily_r = returns['MSFT'].std()
print('Microsoft daily risk: {}'.format(round(msft_daily_r,3)))

Microsoft daily risk: 0.019

Annual risk:

In [22]:
msft_annual_r = msft_daily_r * 250 ** 0.5
print('Microsoft annual risk: {}'.format(round(msft_annual_r,3)))

Microsoft annual risk: 0.308

### Apple

Daily risk:

In [20]:
aapl_daily_r = returns['AAPL'].std()
print('Apple daily risk: {}'.format(round(aapl_daily_r,3)))

Apple daily risk: 0.027

Annual risk:

In [19]:
aapl_annual_r = aapl_daily_r * 250 ** 0.5
print('Apple annual risk: {}'.format(round(aapl_annual_r,3)))

Apple annual risk: 0.421

******

Store the volatilities of the two stocks in an array called “vols”.

In [18]:
vols = returns[['MSFT', 'AAPL']].std() * 250 ** 0.5
vols

MSFT    0.307542
AAPL    0.421472
dtype: float64

How are the two risk values different?