## Obtaining the Efficient Frontier - Part I

We are in the middle of a set of 3 Python lectures that will help you reproduce the Markowitz Efficient Frontier. Let’s split this exercise into 3 parts and cover the first part here.

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas_datareader import data as wb

tickers = ['WMT', 'FB']
df = pd.DataFrame()
for t in tickers:
    df[t] = wb.DataReader(t, data_source='yahoo', start='2014-1-1')['Adj Close']
    
df.tail()

                   WMT          FB
Date
2020-04-06  126.070000  165.550003
2020-04-07  121.989998  168.830002
2020-04-08  121.839996  174.279999
2020-04-09  121.800003  175.190002
2020-04-13  124.110001  171.490005

Do a quick check of the data, normalize it to 100, and see how the 2 stocks were doing during the given timeframe.

In [15]:
normalized_df = ((df-df.min())/(df.max()-df.min())) * 100
normalized_df.tail()

                   WMT         FB
Date
2020-04-06  100.000000  66.010611
2020-04-07   94.599446  67.943433
2020-04-08   94.400894  71.154981
2020-04-09   94.347956  71.691223
2020-04-13   97.405618  69.510907

Calculate their logarithmic returns.

In [18]:
returns = np.log(df / df.shift(1))
display(returns.tail())

annual_returns = returns.mean() * 250
annual_returns

                 WMT        FB
Date
2020-04-06  0.053688  0.071153
2020-04-07 -0.032898  0.019619
2020-04-08 -0.001230  0.031771
2020-04-09 -0.000328  0.005208
2020-04-13  0.018788 -0.021346

WMT    0.096120
FB     0.180886
dtype: float64

Create a variable that carries the number of assets in your portfolio.

In [20]:
assets = len(tickers)
assets

2

The portfolio need not be equally weighted. So, create a variable, called “weights”. Let it contain as many randomly generated values as there are assets in your portfolio. Don’t forget these values should be neither smaller than 0 nor equal or greater than 1! <br />

*Hint: There is a specific NumPy function that allows you to generate such values. It is the one we used in the lecture - NumPy.random.random().*

In [26]:
weights = np.random.random(assets)
weights /= np.sum(weights)
weights

array([0.65959761, 0.34040239])

Sum the obtained values to obtain 1 – summing up the weights to 100%!

In [27]:
sum(weights)

1.0

*****

Save this document! The next 2 exercises will build on the code you just created!